{% assign image_name = colour | handleize | append: '.jpg'  %}

<span class="colour-option">
  {{ image_name | file_img_url: '50x' | img_tag }}

  {% if product_swatch %}
    <span class="colour-tooltip">{{ colour }}</span>
  {% endif %}
</span>