<style>
    .zip-container span {
        font-size: 12px !important;
    }    
</style>

<script type="text/javascript" src="https://static.zip.co/lib/js/zm-widget-js/dist/zip-widget.min.js"></script>

<div style="cursor:pointer" 
    id="zip-product-widget" 
    data-zm-widget="popup" 
    data-zm-region="nz"
    data-env="production"
    data-zm-merchant=""      
    data-zm-price="" 
    data-zm-asset="productwidget" 
    data-zm-popup-asset="termsdialog" 
    > 
</div>    