.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.template-suffix-contact #MainContent {
  display: flex;
  width: 100%;
  max-width: var(--page-width);
  margin: 3rem auto 0;
  padding: 0 5rem;
  position: relative;
}

.template-suffix-contact #MainContent > .section {
  width: 50%;
}

.template-suffix-contact #MainContent > .section:nth-child(1) {
  margin-top: 60px;
  padding-right: 48px;
}

.template-suffix-contact #MainContent > .section:nth-child(2) {
  margin-top: 120px;
}

.template-suffix-contact .main-page-title {
  position: absolute;
  top: 0;
  width: calc(100% - 10rem);
  padding-bottom: 2rem;
  border-bottom: 1px solid;
}

.template-suffix-contact iframe {
  width: 100%;
}

@media screen and (max-width: 989px) {
  .template-suffix-contact #MainContent > .section .page-width--narrow {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 750px) {
  .template-suffix-contact #MainContent {
    padding: 0 1.5rem;
    flex-direction: column-reverse;
  }

  .template-suffix-contact #MainContent > .section {
    width: 100%;
  }

  .template-suffix-contact #MainContent > .section:nth-child(1) {
    padding-right: 0;
    margin-top: 0;
  }
  
  .template-suffix-contact #MainContent > .section:nth-child(2) {
    margin-top: 96px;
  }  

  .template-suffix-contact .main-page-title {
    width: calc(100% - 3rem);
  }
}